# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
build/
out/
.next/
artifacts/
cache/
typechain-types/
coverage/

# Hardhat
packages/contracts/artifacts/
packages/contracts/cache/

# Env & secrets
.env
.env.local
.env.*.local
*.key

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS / editor
.DS_Store
.idea/
.vscode/
*.swp

# Next.js local data store (MVP metadata)
apps/web/.data/

# TypeScript incremental build cache
*.tsbuildinfo

# Prisma generated client (regenerated at build)
apps/web/lib/generated/
